@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d2b3a;
}
.input_box {
    position: relative;
    width: 300px;
}
.input_box input {
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 1em;
}
.input_box span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}

/* valid는 input이나 form내용 유효성검사시
true일때 작동하는 가상클래스 */
.input_box input:focus ~ span,
.input_box input:valid ~ span {
    color: #1d2b3a;
    font-size: 0.75em;
    transform: translateX(20px) translateY(-7px);
    padding: 0 5px;
    background: #00dfc4;
    border-radius: 2px;
}
#toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(images/show.png);
    background-size: cover;
    filter: opacity(0.5) drop-shadow(0 0 0  #00dfc4);
    cursor: pointer;
}
#toggle.hide {
    background: url(images/hide.png);
    background-size: cover;
    scale: 2;
    margin-top: 15px;
    filter: opacity(0.5) drop-shadow(0 0 0  #00dfc4);
}