* {
    margin: 0;
    padding: 0;
}
body {
    background: beige;
}
label {
    display: block;
}
.contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 1000px;
    height: 300px;
    overflow: hidden;
}
.slide_con {
    width: 5000px;
    height: 100%;
    display: flex;
}
.slide1 {
    width: 1000px;
    height: 100%;
    background: lightcoral;
}
.slide2 {
    width: 1000px;
    height: 100%;
    background: lightgoldenrodyellow;
}
.slide3 {
    width: 1000px;
    height: 100%;
    background: lightgrey;
}
.slide4 {
    width: 1000px;
    height: 100%;
    background: lightblue;
}
.slide5 {
    width: 1000px;
    height: 100%;
    background: lightgreen;
}
.prev_btn , .next_btn {
    width: 50px;
    height: 50px;
    background: #f9f9f9;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 48%;
    border-radius: 10px;
    border: 1px solid black;
}
.prev_btn {
    left: -100px;
}
.next_btn {
    right: 350px;
}
input {
    /* display: none; */
}
#next:checked ~.slide1 {
    left: -1000px;
}